
body {
    margin: 0;
    font-family: 'kindergarten';
    background-image: url('driving.png');
    background-size: cover;
    width: 100%;
    height: auto;


}
/* NAVBAR */
.NavbarContent {
    display: flex;
    flex-direction: row;
    ;
}

.navbar {
    display: inline block;
    overflow: hidden;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.373);
    border-radius: 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the button to remove default button appearance */
.image-button {

    top: 0;
    left: 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Basic styling for the image inside the button */
.image-button img {
    width: 200px;
    height: auto;
    cursor: pointer;
}

/* The popover has basic built-in styling, but you can customize it */
#LeavingLouisianaRoadSign {
    position: flex;
    flex-direction: row;
    padding: 100px 100px 100px 100px;
    background-color: rgb(186, 223, 232);
    border: none;
    border-radius: 15px;
    /* Add more styles like max-width, box-shadow, etc. */
}

.closebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.navigationlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.OpeningStatement {
    position: flex;
    color: rgba(88, 148, 237, 0.557);
    border-width: 2px;
    max-width: 400px;
    border-color: rgba(88, 148, 237, 0.557);
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

.closebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* END OF NAV */

.dialogue {
    margin: 200px;
    display: inline-block;
    padding: 30px 15px 30px 15px;
    font-family: 'kindergarten';
    color: black;
    background-color: aliceblue;
    border-radius: 15px;
    font-size: 20px;
    width: 400px;
    align-content: center;
    text-align: center;

}

.nextpage {
    display: flex;
    justify-content: center;
    margin: 0 0 100px 600px;
}

.continuebox {
    width: 300px;
    height: auto;
}